
.container{
  height:1000px;
  width: 1000px;
  background-repeat:no-repeat;
  background-image: url(https://wallpaperaccess.com/full/1311173.jpg);
  border: 2px  double orange;
  
}
.box{
  border: 2px dotted;
  height: 150px;
  width: 150px;
  display: inline-block;
  margin: 20px;
}
#box4:hover{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkXTkHotcB_1JNXZIgt15Uj1ziqqeGOG7J9HV7nvY&s);
  background-repeat: no-repeat;
  
}